:root {
  --default-color: #333;
  --default-color-light: #fff;
  --grey-light: #666;
  --grey-lightner: #ddd;
  --primary-color: #fb1;
  --secondary-color: #764701;
  --tertiary-color: #fea;
  --quarternary-color: #eee;
  --error-color: #f31;
  --right-color: #4c1;
}
